html {
  scroll-behavior: smooth;
  }

body {
    background-color: rgb(218, 226, 252);
    background-image: url('../src/bg-image.jpg');
    background-size: cover;
    background-attachment: fixed;
    min-height: 100%;
    display: grid;
    grid-template-rows: 1fr auto;
}

h1, h2 {
    text-align: center;
    color: white;
    font-family: 'Single Day', cursive, "Roboto", sans-serif;
    font-size: 36px;
}

p {
    color: white;
}

ul {
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

a {
  text-decoration: none;
  color: white;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
  width: 100vw;
  height: 80px;
  background-color: rgba(97, 94, 94, 0.9);
  margin-bottom: 60px;
}

.header-list {
  margin-top: 30px;
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  font-size: 22px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  font-family: 'Single Day', cursive, "Roboto", sans-serif;
}

#id-filter {
  overflow: hidden;
  margin-top: 50px;
  margin-bottom: 50px;
  color: transparent;
}

#id-filter:hover,
#id-filter:focus {
  cursor: default;
}

#id-chromakey {
  overflow: hidden;
  margin-bottom: 50px;
  color: transparent;
}

#id-chromakey:hover,
#id-chromakey:focus {
  cursor: default;
}

#id-painting {
  overflow: hidden;
  margin-bottom: 50px;
  color: transparent;
}

#id-painting:hover,
#id-painting:focus {
  cursor: default;
}

#id-todo {
  overflow: hidden;
  margin-bottom: 30px;
  color: transparent;
}

#id-todo:hover,
#id-todo:focus {
  cursor: default;
}

#main-canvas {
    height: 250px;
    border: 1px solid rgb(253, 251, 251);
}

.box-1 {
    width: 700px;
    border-radius: 8px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    padding: 20px;
    background-color: rgba(23, 11, 129, 0.9);
}

.box-2 {
    padding-left: 80px;
    padding-right: 80px;
}

.box-3 {
    margin-left: 70px;
    margin-right: 70px;
}

.button {
    min-width: 60px;
    outline: 0;
    border: 1px solid rgba(72, 42, 97);
    padding: 5px;
    margin-right: 5px;
    border-radius: 4px;
}

.button:hover,
.button:focus {
    cursor: pointer;
    background-color: rgb(72, 42, 97);
    color: white;
    outline: 0;
    border: 1px solid rgba(255, 255, 255);
}

.make-blur {
    filter: blur(4px);
}

.no-filter {
    filter: none;
}

.div-color-chromakey {
    background-color: rgba(190, 86, 164, 0.9);
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 40px;
    padding-top: 15px;
    margin-bottom: 40px;
    border-radius: 8px;
}

.canvas-list {
    display: flex;
    justify-content: space-around;
}

.draw-box {
    margin-bottom: 10px;
    border: 1px solid rgb(32, 2, 82);
    border-radius: 4px;
    background-color: white;
    width: 500px;
}

.draw-box-painting {
    margin-bottom: 10px;
    border: 1px solid rgb(32, 2, 82);
    border-radius: 4px;
    background-color: white;
}

.options {
    display: flex;
    justify-content: space-around;
    margin-bottom: 40px;
    padding-bottom: 30px;
}

.button-add-photo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.grey-button {
    margin-right: 50px;
}

.chromakey-box {
    width: 490px;
    border-radius: 6px;
    background-color: rgba(189, 189, 247, 0.5);
    padding: 25px;
    margin: 0 auto;
    margin-top: 20px;
}



.chrom-text {
    margin-left: 5px;
}

.chrom-buttons-box {
    width: 300px;
    margin: 0 auto;
}
.chromakey-left-button {
    margin-right: 15px;
}

.onclick-button {
    border: 0;
    border-radius: 4px;
    padding: 5px;
    border: 1px solid grey;
}

.onclick-button:hover,
.onclick-button:focus {
  cursor: pointer;
  background-color: rgb(72, 42, 97);
  color: white;
  outline: 0;
  border: 1px solid rgba(255, 255, 255);
}

.square-container {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: rgba(179, 110, 245, 0.9);
    border-radius: 8px;
}

.square-box {
    margin-bottom: 10px;
    width: 450px;
    height: 240px;
    border: 1px solid rgb(32, 2, 82);
    padding-left: 4px;
    padding-right: 12px;
    background-color: rgb(14, 114, 160);
    border-radius: 14px;
}

.square-button {
    width: 70px;
    height: 35px;
    padding: 3px;
    margin-right: 20px;
}

.square-button:hover,
.square-button:focus {
    cursor: pointer;
}

.button-square-box {
    padding-bottom: 30px;
}

.range-button:hover,
.range-button:focus {
    cursor: pointer;
}

.draw-box {
    margin-bottom: 10px;
    border: 1px solid rgb(32, 2, 82);
    background-color: white;
}

.box-draw-options {
    display: flex;
    justify-content: center;
    align-items: center;
}

.paragraph-draw-options {
    margin-right: 15px;
}

.input-set {
    border-radius: 4px;
    border: 1px solid grey;
    height: 25px;
    padding: 5px;
}

.input-set:hover,
.input-set:focus {
    outline: 0;
    border-style: none;
    border: 1px solid grey;
}

.options-button {
    width: 70px;
    height: 35px;
    padding: 3px;
}

.options-button:hover,
.options-button:focus {
    cursor: pointer;
}




.container {
  border-radius: 8px;
  width: 800px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 15px;
  padding-bottom: 30px;
  background-color: rgba(153, 153, 238, 0.9);
  
}

.make-list {
  list-style-type: none;
  background-color: #eee;
  border: 1px solid #c3c3c3;
  padding: 10px 0px 10px 5px;
  margin-bottom: 10px;
  font-size: 16px;
  width: 100%;
}

.done {
  background-color: green;
  border: 1px solid rgb(1, 44, 1);
  border-radius: 4px;
}

.done:hover,
.done:focus {
  background-color: rgb(2, 59, 2);
  color: white;
  cursor: pointer;
}

.remove {
  background-color: red;
  border: 1px solid rgb(54, 1, 1);
  border-radius: 4px;
}

.remove:hover,
.remove:focus {
  background-color: rgb(77, 2, 2);
  color: white;
  cursor: pointer;
}

.important {
  background-color: lightblue;
  border: 1px solid rgb(3, 34, 44);
  border-radius: 4px;
}

.important:hover,
.important:focus {
  background-color: rgb(4, 58, 77);
  color: white;
  cursor: pointer;
}

li.finished {
  color: white;
  background-color: gray;
  text-decoration: line-through;
  list-style-type: none;
  border: 1px solid #c3c3c3;
  padding: 10px 0px 10px 5px;
  margin-bottom: 10px;
  font-size: 16px;
  width: 100%;
}

.todo-text-input {
  font-size: 16px;
  width: 650px;
  padding: 5px;
  border: 0;
  border-radius: 2px;
}

#input:hover,
#input:focus {
  outline: 0;
  border-style: none;
  border-radius: 2px;
}

.todo-button-input {
  font-size: 16px;
  margin: -6px 4px 0px 0px;
}

#addButton {
  padding: 5px;
  min-width: 100px;
  border: 1px solid grey;
  border-radius: 4px;
}

#addButton:hover,
#addButton:focus {
  background-color: rgb(72, 42, 97);
  color: white;
  cursor: pointer;
  outline: 0;
  border-style: none;
  border: 1px solid rgba(255, 255, 255);
}

.aboutcolor {
  background-color: rgb(72, 42, 97);
}

#divabout {
  width: 270px;
  margin-bottom: 15px;
  border-radius: 4px;
}

#textabout {
  font-size: 18px;
  padding-left: 10px;
  color: white;
}

#aboutButton {
  padding: 5px;
  min-width: 100px;
  border: 1px solid grey;
  border-radius: 4px;
}

#aboutButton:hover,
#aboutButton:focus {
  background-color: rgb(72, 42, 97);
  border: 1px solid rgba(255, 255, 255);
  color: white;
  cursor: pointer;
  outline: 0;
  }

#clearButton {
  padding: 5px;
  min-width: 100px;
  border-style: none;
  border-radius: 4px;
  border: 1px solid grey;
}

#clearButton:hover,
#clearButton:focus {
  background-color: rgb(72, 42, 97);
  border: 1px solid rgba(255, 255, 255);
  color: white;
  cursor: pointer;
  outline: 0;
}